*.py[cod]
*.egg-info
*.eggs
*.pkl
.ipynb_checkpoints
*.code-workspace
*.t21
*.hdf5

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode
*.sublime*

# pytorch
*.pth*

# runs dir
runs/*

# emacs
*~